body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.calculadora {
  background-color: #41654e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
}


.encabezado {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px; 
  margin-bottom: 10px;
}

.encabezado h3 {
  margin: 0;
  font-size: 1.8em;
  color: #fff;
}

.panel-solar {
  width: 120px;
  height: 30px;
  background: linear-gradient(to bottom, #333, #666);
  border: 2px solid #222;
  border-radius: 6px;
  box-shadow: inset 0 0 6px #000;
  position: relative;
}

.panel-solar::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: repeating-linear-gradient(
    to right,
    #444,
    #444 6px,
    #666 6px,
    #666 12px
  );
  border-radius: 3px;
}


.pantalla {
  background-color: #222;
  color: #fff;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow-x: auto;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.botonchi{
  background-color: #ff4d4d;
  box-shadow: #333;
}

.letra-roja{
  color: red;
}

button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
  
}

button:hover {
  background-color: #92c56b;
}

.clear {
  background-color: #ff4d4d;
  color: white;
}

.clear:hover {
  background-color: #e60000;
}
